// Vars

$accentColor: #eb3c00;
$headerBgColor: #fff;
$navBgColor: #282828;
$navTxtColor: #fff;
$textColor: #282828;
$titleColor: #c3c3c3;
$placeholderColor: #d4d4d4;
$contentBgColor: #f5f5f5;

$headerHeight: 110px;

$headingFont: Oswald, Arial, sans-serif;
$menuFont: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$paragFont: "PT Serif", "Times New Roman", Times, serif;